body{

    background-color: black;
    color:whitesmoke;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
}

a{
    color:white;
}

ul{
    list-style-type: upper-roman;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    line-height: 0.5;
}