body {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 5vw;
    font-variation-settings:
        'opsz'144,
        'GRAD'33,
        'YOPQ'135,
        'YTDE'-190,
        'YTFI'788,
        'YTLC'532;
}

#title {
    width: 100%;
    height: calc(100vh - 20px);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    box-sizing: border-box;

    color: #89cff0;
    border: 20px solid #89cff0;
    overflow: scroll;

    z-index: 1;
}

.open {
    padding-right: 297px;
}

.close {
    padding-right: 20px;
}

#corner {
    position: fixed;
    bottom: 12px;
    right: 8px;

    background: white;
    z-index: 2;

    width: 0;
    height: 0;
    border-top: 70px solid #54a2c7;
    border-right: 70px solid transparent;
}

#toggle {
    position: fixed;
    top: 9px;
    right: 9px;

    width: 70px;
    height: 70px;
    font-size: 55px;
    text-align: center;

    background: #54a2c7;
    color: white;
    z-index: 50;
}

#sample {
    position: fixed;
    top: 79px;
    right: 10px;

    font-size: 30px;

    width: 298px;
    height: 420px;

    background: white;
    border: 20px solid #89cff0;
    padding: 20px;
    box-sizing: border-box;
    color: #89cff0;
    z-index: 49;
}

#sample::after {
    content: " ";
    position: absolute;
    bottom: -20px;
    left: -20px;

    background: white;
    z-index: 100;

    width: 0;
    height: 0;
    border-right: 70px solid #54a2c7;
    border-bottom: 70px solid transparent;
}